.header-toc {
    display: block;
    margin: 10px;
    text-align: center;
    list-style-type: none;
    color: white;    
    padding-left: 10px;
    list-style-position: inside;
}

.toc-anchor {
    color: white;
    font-family: inherit;
}
